.game-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: larger;
}
.game-page .left {
  margin: 2vw;
}

.game-page .game-left-header > * {
  display: flex;
  flex-direction: row;
  height: 5vh;
}
.game-page .game-left-header h3,
img {
  margin-top: 1vh;
}
.game-page .game-left-header .player-name > *,
.level > * {
  margin-right: 1vw;
}
.game-page .score-board {
  border: 2px solid #ff5155;
  padding: 0.5vw;
  border-radius: 8px;
  margin-top: 4vh;
}
.game-page .score-board .title {
  text-align: center;
  padding-bottom: 3vh;
}
.game-page .score-board .scores > li {
  list-style: none;
  padding-left: 0.4vw;
  padding-bottom: 0.7vh;
  color: #fff;
  opacity: 0.8;
}

.game-page .stop {
  position: absolute;
  bottom: 0;
}
.game-page .game-left-stop {
  display: flex;
  flex-direction: row;
}
.game-page .game-left-stop img {
  width: 3vw;
}
.game-page .game-left-stop > h2 {
  padding-top: 0.7vh;
  font-size: larger;
}
.game-page .right {
  margin: 2vw;
}
.game-page .right > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.game-page .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}
.game-page .center > * {
  margin: 2vw;
}
.game-page .center .game-word {
  display: flex;
  flex-direction: row;
}
