.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.981127485173757) 36%,
      rgba(0, 67, 93, 0.9) 100%
    ),
    url("/assets/images/Group 243.png");

  background-size: cover;
  height: 100vh;
}


.Group-243 {
  /* width: 191.3vw;
  height: 1080px; */
  object-fit: contain;
  opacity: 0.49;
}
.text-color {
  color: #ff5155;
}
.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vh;
}


